body {
  background-color: rgb(70, 70, 70);
  color: white;
}

#app {
  margin: auto;
  width: 50%;
  margin-top: 50px
}

.container-progress-bar {
  width: 700px;
  margin: auto;
  position: relative;
}

.progress-bar {
  height: 25px;
  background-color: white;
  width: 100%;
  border-radius: 10px;
}

.level-bar {
  height: 25px;
  background-color: blueviolet;
  width: 25%;
  border-radius: 10px;
}

.percent-value {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 5px;
  width: 100%;
  color: black;
  font-size: 1em;
}