body {
  background-color: rgb(70, 70, 70);
  color: white;
}

#app {
  margin: auto;
  width: 50%;
  margin-top: 50px
}

.container-progress-bar {
  width: 500px;
  margin: auto;
}

.progress-bar {
  height: 20px;
  background-color: white;
  width: 100%;
  border-radius: 10px;
}

.level-bar {
  height: 20px;
  background-color: blueviolet;
  width: 25%;
  border-radius: 10px;
}